<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Write new chat</title>
</head>
<body>
    <h3>Write new chat..</h3>
    <form action="/chats" method="POST">
        <input type="text" placeholder="who are you" name="form"><br><br>
        <textarea name="msg" id="" cols="30" rows="10">Write your message here</textarea><br><br>
        <input type="text" placeholder="Add receiver" name="to"><br><br>
        <button>Create Chat</button>
    </form>
</body>
</html>